.edit, .delete{
    position: absolute;
    z-index: 9;
    color: #fff;
    background: #e86ed0;
    padding: 0px 20px;
    border-radius: 6px;
    top: 15px;
    right: 15px;

    font-size: 16px;
    font-weight: 800;
}

.edit a, .delete a{
    color: #fff !important;
}

.delete {
    right: 100px;
    cursor: pointer;
}

.status{
    position: absolute;
    z-index: 9;
    color: #fff;
    background: #e86ed0;
    padding: 0px 11px;
    border-radius: 20px;
    top: 15px;
    left: 15px;
    font-size: 16px;
    font-weight: 800;
    cursor: default;
}
.no-property{
    color: #e86ed0;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.p-s-d-d{
    position: absolute;
    top: 15px;
    width: 95px;
    border-radius: 6px !important;
    /* border: 1px solid #e86ed0; */
    left: 15px;
}
.p-s-d-d svg{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    font-size: 25px;

}
.p-s-d-d .relative{
    position: relative;
}

.p-s-d-d .Dropdown-control {
    border-radius: 6px !important;
    position: relative;
}

.p-s-d-d .Dropdown-menu{
    position: absolute;
    width: 100%;
    padding: 10px;
    background: #fff;
    border-radius: 6px;
}

.p-s-d-d .Dropdown-control {
    position: relative !important;
    overflow: hidden !important;
    background-color: #e86ed0 !important;
    border: 1px solid transparent !important;
    border-radius: 6px !important;
    box-sizing: border-box !important;
    color: #333 !important;
    cursor: pointer !important;
    outline: none !important;
    padding: 0 35px 0 10px !important;
    transition: all 200ms ease !important;

}

.p-s-d-d .Dropdown-menu{
    overflow-y: hidden !important;
}

.p-s-d-d .Dropdown-arrow {
    border-color: #ffffff transparent transparent !important;
    top: 12px !important;
}

.p-s-d-d .Dropdown-placeholder{
    color: #fff !important;
    font-weight: 800;
}
