div{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

.property-search{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 2rem;
    background: rgba(0, 28, 56, 0.6);
    border-radius: 10px;
}

.property-search button {
    transition-property: background-color,border-color,color;
    transition-duration: .2s;
    transition-timing-function: ease;
}

.property-search .nav-tabs{
    border: none;
}

.property-search .nav-tabs .nav-link{
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 100%;
    margin: 0px;
    
}

.property-search .Dropdown-control{
    /* padding: 2.5px 10px 2.5px 10px; */
    text-align: left;
    border: 2px solid #B62682;
    font-weight: 800;
    font-size: 14px;
    color: #000000;
    padding: 0.675rem 0.6875rem;
    line-height: 0.8;
    margin-right: 10px;
}

.property-search .Dropdown-arrow{
    border-color: #B62682 transparent transparent;
}
.property-search .is-open .Dropdown-arrow {
    border-color: transparent transparent #B62682;
}

.property-search ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000 !important;
    font-weight: 800;
    font-size: 14px;
    /* Firefox */
}

.property-search .Dropdown-option{
    font-size: 14px;
    color: #000000;
    text-align: left;
    font-weight: 800;
}

.property-search .Dropdown-menu{
    border-bottom:2px solid #B62682;
    border-left:2px solid #B62682;
    border-right:2px solid #B62682;
}

.property-search .nav-tabs .nav-item{
    width: 50%;
}

.property-search .chack-box-wrap{
    margin-right: 10px;
}

.property-search .nav-tabs .nav-link{
    border-color: #B62682;
    border-width: 2px;
    border-radius: 0px;
    background: #ffffff;
    color: #000000;
    padding: 0.5rem 0.6875rem;
    position: relative;
    z-index: 2;
    line-height: 1.2;
    font-weight: 800;
    font-size: 14px;
}
.property-search .nav-tabs .nav-link:hover{
    border-color: #B62682;
    border-width: 2px;
    border-radius: 0px;
    background: #000000;
    color: #ffffff;
    padding: 0.5rem 0.6875rem;
    position: relative;
    z-index: 2;
    line-height: 1.2;
    font-weight: 800;
    font-size: 14px;
}

.property-search .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: #B62682 #B62682 #B62682;
    border-width: 1pz;
}

.property-search .nav-tabs .nav-link.active{
    border-color: #B62682;
    border-width:2px;
    border-radius: 0px;
    background: #FFF0F9;
   color: #000000;
    padding: 0.5rem 0.6875rem;
    position: relative;
    z-index: 2;
    line-height: 1.2;
}
.property-search .nav-tabs .nav-link.active:hover{
    border-color: #B62682;
    border-width:2px;
    border-radius: 0px;
    background: #000000;
   color: #ffffff;
    padding: 0.5rem 0.6875rem;
    position: relative;
    z-index: 2;
    line-height: 1.2;
}

.chack-box{
    /* display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
    margin-right: 1rem;
    width: auto; */
}

.new-search-box .dropdown-wrapper.active{
    border-color: #CBCCC7;
}

.dropdown-wrapper {
    border-color: #CBCCC7;
}

.dropdown-wrapper .placeholder {
    color: #141414;
    cursor: pointer;
    display: block;
    height: 2.625rem;
    line-height: 1.5rem;
    overflow: hidden;
    padding-right: 2.1875rem;
    padding: 0.5625rem 0.75rem;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dropdown-wrapper .placeholder {
    color: #141414;
    height: auto;
    min-height: unset;
    padding: 0.5rem 1rem;
    /* line-height: 1.875rem; */
    font-size: 14px;
    font-weight: 800;
}

.dropdown-wrapper {
    background-color: #fff;
    border: 0.0625rem solid #A3A3A0;
    outline: none !important;
    padding: 0;
    position: relative;
    text-align: left;
}

.dropdown-wrapper svg {
    border-color: #141414 transparent;
    border-style: solid;
    border-width: 0.375rem 0.375rem 0;
    content: "";
    height: 0;
    margin-top: -0.125rem;
    position: absolute;
    right: 0.9375rem;
    top: 50%;
    width: 0;
}

.dropdown-wrapper .dropdown {
    background-color: #fff;
    left: -0.0225rem;
    list-style: none;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: -0.0625rem;
    top: 100%;
    z-index: 1;
}

.dropdown-wrapper * {
    box-sizing: border-box;
}

.dropdown-wrapper.active .dropdown {
    box-shadow: 0 0.125rem 0.5rem rgba(102,102,100,0.24);
    border: 0.0625rem solid #CBCCC7;
    overflow-y: auto;
    user-select: none;
    max-height: 300px;
}

.dropdown-wrapper li:hover, .dropdown-wrapper li.selected {
    background-color: #F4F5F2;
}

.dropdown-wrapper li {
    padding: 0.5rem 1rem;
    color: #141414;
    cursor: pointer;
    margin: 0 auto;
    min-height: 2.25rem;
    width: 100%;
    font-size: 16px;
}

.form-item-block {
    position: relative;
    display: block;
}

.property-search #campoBus {
    border-color: #B62682;
    border-radius: 0.125rem;
    font-size: 1.125rem;
    height: 2.24rem;
    border-width: 2px;
    padding-bottom: 0.6875rem;
    padding-right: 2.75rem;
    padding-top: 0.6875rem;
    line-height: 1.875rem;
    transition-property: background-color,border-color,color;
    transition-duration: .2s;
    transition-timing-function: ease;
    font-size: 15px;
}

.property-search .form-item-block svg{
    color: #B62682;
}

#campoBus:focus{
    border-color: #CBCCC7;
    outline: none;
}


.property-search input[type="text"]{
    appearance: none;
    border: 0.0625rem solid #A3A3A0;
    color: #141414;
    padding: 0 0.75rem;
    width: 100%;
}

.search-icons{

}

.form-item-block .search-icons {
    color: #8E8F8C;
    font-size: 1.25rem;
    right: 10px;
    position: absolute;
    top: 0.55rem;
    z-index: 1;
}

.action {
    font-size: 13pxrem;
    border-radius: 0.125rem;
    /* height: 2.875rem; */
    padding: 0.3rem 1rem;
}

.btn.action {
    background-color: #B62682;
    border: 2px solid #ffffff;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}

.btn.action:hover {
    background-color: #000000;
    border: 2px solid #B62682;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}

.property-search .btn.action{
    width: 88%;
}
.property-search .col-lg-2{
    text-align: right;
}

.chack-box-custom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.chack-box-custom .form-check-label{
    color: #fff;
}
.chack-box-custom .form-check-input{
    position: absolute;
    margin: 0px !important;
    top: 50%;
    left: -10px;
    transform: translate(10px, -50%);
}


@media (max-width: 991px){
    .property-search .chack-box-wrap {
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .property-search .Dropdown-control{
        margin-right: 0px !important;
        margin-bottom: 10px;
    }
    .property-search .form-item-block{
        margin-right: 0px !important;
        margin-bottom: 10px;
    }
    .property-search .btn.action{
       width: 100% !important;
    }


 /* .dropdown-wrapper {
    margin-right: 1rem;
    max-height: none;
    min-width: 9rem;
    height: auto;
    width: 12rem;
}

.dropdown-wrapper .placeholder {
    color: #141414;
    height: auto;
    min-height: unset;
    padding: 0.31rem 1rem;
}

.dropdown-wrapper .placeholder {
    padding-right: 1.875rem;
}

.item-block {
    flex-grow: 1;
    margin-right: 1rem;
}

.form-item-block{
    margin-bottom: 0;
}

.form-item-block {
    flex-grow: 1;
    margin-right: 1rem;
}

#campoBus {
    display: block;
    margin-right: 0;
    max-width: none;
} */

/* .new-search-box .action {
    -ms-flex-positive: 0;
    flex-grow: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: auto;
} */

.chack-box-custom{
    padding-bottom: 20px;
}

}

@media (max-width: 768px){
    .chack-box-custom{
        padding-bottom: 20px;
    }
}