.btiWiV {
    position: relative;
}

.dmEQCF {
    position: relative;
    display: flex;
    padding: 12px 16px;
    background-color: rgb(255, 255, 255);
}

.cLARDm {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
}

.dEOkTn {
    background: rgb(255, 255, 255);
}

.lExsy {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.bimUfb {
    display: flex;
    padding: 7px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(224, 227, 229);
    border-radius: 27px;
    margin: 16px 38px;
}

.gPABWM {
    display: flex;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    flex: 1 1 0%;
    min-width: 0px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.kpnlB {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0px 8px;
    padding: 0px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border: 0px;
    background: none;
    border-radius: 18px;
}

a, button {
    cursor: pointer;
    outline: 0px;
}

button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
}

.kcAJIc {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0px;
    height: 36px;
    color: rgb(255, 255, 255);
    stroke: rgb(255, 255, 255);
    background: rgb(255, 0, 134);
    border: 0px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    padding: 0px 20px;
    width: auto;
    font-weight: 500;
    font-size: 13px;
    border-radius: 27px;
}


.kcAJIc > svg {
    margin-right: 4px;
}

svg:not(:root) {
    overflow: hidden;
}

.clDIaZ {
    display: inline-block;
    fill: currentcolor;
    pointer-events: none;
    width: 20px;
    height: 20px;
}

svg:not(:root) {
    overflow: hidden;
}

.fmZa-d {
    display: inline-block;
    fill: currentcolor;
    pointer-events: none;
    width: 32px;
    height: 32px;
}

.fcca-di {
    display: flex;
}

.cvMAEu {
    flex: 1 1 0%;
    display: none;
}

.jweLbp {
    display: inline-block;
    padding: 4px 0px 4px 8px;
    width: 100%;
    font-size: 14px;
    line-height: 24px;
    color: rgb(52, 61, 66);
    background: rgb(255, 255, 255);
    border: 0px;
    appearance: none;
    appearance: textfield;
    outline-offset: -2px;
}

.jweLbp:focus-visible{
    border: none;
    outline: none;
}

.kcAJIc > svg {
    margin-right: 4px;
}

svg:not(:root) {
    overflow: hidden;
}

.clDIaZ {
    display: inline-block;
    stroke: #fff !important;
    pointer-events: none;
    width: 20px;
    height: 20px;
}
.clDIaZ path{
    display: inline-block;
    stroke: #fff !important;
    pointer-events: none;
    width: 20px;
    height: 20px;
}

.filter-inline{
    position: relative;
    /* top: 140px; */
    left: 0;
    right: 0;
    z-index: 8;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    pointer-events: none;

}

.cpRqIu {
    position: relative;
    display: flex;
    gap: 12px;
    padding: 0px 16px 12px;
    pointer-events: all;
    /* overflow: auto auto; */
    overscroll-behavior-x: contain;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(233, 236, 241);
}

.sc-125xj6w-0 .Dropdown-control {
    position: relative;
    overflow: hidden;
    background-color: white;
    border: none !important;
    outline: none !important;
    border-radius: 2px;
    box-sizing: border-box;
    color: #333;
    cursor: default;
    outline: none;
    padding: 0px 16px 0px 4px;
    transition: all 200ms ease;
}
.sc-125xj6w-0 .Dropdown-arrow {
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    content: ' ';
    display: block;
    height: 0;
    margin-top: -ceil(2.5);
    position: absolute;
    right: 0px;
    top: 14px;
    width: 0;
    top: 45%;
}

.bxsa-dB {
    display: flex;
    flex: 1 1 0%;
}

.efKKDz {
    height: 100%;
}

.gPahXz {
    position: fixed;
    top: calc(72px + env(safe-area-inset-top));
    bottom: 0px;
    right: 0px;
    width: 100%;
}

.fuUXys {
    position: absolute;
    left: 42px;
    right: 52px;
    text-align: center;
    bottom: 44px;
}

.RMyYB {
    pointer-events: all;
    appearance: none;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 134);
    border: 0px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 2px 0px;
    -webkit-tap-highlight-color: transparent;
    font-weight: 500;
    font-size: 14px;
    line-height: 36px;
    border-radius: 18px;
    user-select: none;
    padding: 0px 12px;
}

.boRNLg {
    pointer-events: all;
    appearance: none;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 134);
    border: 0px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 2px 0px;
    -webkit-tap-highlight-color: transparent;
    font-weight: 500;
    font-size: 14px;
    line-height: 36px;
    border-radius: 18px;
    user-select: none;
    padding: 0px 12px;
    margin-left: 8px;
}

.dTmuAW {
    position: absolute;
    padding: 9px 20px;
    line-height: 14px;
    font-size: 12px;
    text-align: center;
    background-color: rgb(250, 250, 250);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 2px 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 2;
}

.jFAjTY {
    font-size: 12px;
    line-height: 14px;
    pointer-events: all;
    user-select: none;
}

.iZogEd {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0px 18px;
    min-width: 52px;
    font-size: 13px;
    line-height: 34px;
    text-align: center;
    white-space: nowrap;
    color: rgb(16, 16, 16);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(224, 227, 229);
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    flex: 1 1 0%;
    font-weight: 500;
}

.grRvLZ {
    position: relative;
    display: flex;
}

.cTGHMu {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0px 18px;
    min-width: 52px;
    font-size: 13px;
    line-height: 34px;
    text-align: center;
    white-space: nowrap;
    color: rgb(16, 16, 16);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(224, 227, 229);
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-weight: 500;
}
.byfVMq {
    flex: 1 1 0%;
}

.im11km-1 svg {
    font-size: 16px;
    margin-right: 2px;
    margin-bottom: 3px;
}

.sc-125xj6w-0 svg{
    font-size: 18px;
    margin-right: 3px;
    
    margin-bottom: 3px;
}
.cTGHMu svg{
    font-size: 14px;
    margin-right: 3px;
    margin-bottom: 3px;
}

.sc-125xj6w-0 .Dropdown-arrow{
    border-color: #000 transparent transparent;
}

.is-open .Dropdown-arrow {
    border-color: transparent transparent #000 !important;
    border-width: 0 5px 5px;
}

.cTGHMu .Dropdown-menu{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(224, 227, 229);
    border-radius: 8px;
    box-shadow: rgba(138, 151, 157, 0.2) 0px 2px 7px 3px;
    margin: 0px;
    overflow: hidden;
    padding: 10px 24px;
    width: 180px;
    left: -64px;
    top: 45px;
    text-align: left;
    height: auto !important;
}
.cTGHMu .Dropdown-option {
    box-sizing: border-box;
    color: rgba(51, 51, 51, 0.8);
    cursor: pointer;
    display: block;
    padding: 0px;
}

.kigdhw {
    padding: 16px 16px 24px;
    user-select: none;
}

.fVUrto {
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 18px;
    white-space: nowrap;
    overflow-x: auto;
    user-select: none;
}

.iFYwzu {
    display: inline-block;
    margin-right: 4px;
}

.lcnZym:visited {
    color: rgb(52, 61, 66);
}

.fVUrto a {
    color: rgb(52, 61, 66);
}
.lcnZym {
    display: inline-block;
    margin-right: 4px;
    color: rgb(52, 61, 66);
}

.jaHnaj {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 15px;
    line-height: 27px;
    color: rgb(16, 16, 16);
}


.iHZmYi {
    display: flex;
    align-items: flex-start;
    position: relative;
    line-height: 26px;
}
.gCIxxJ {
    color: rgb(16, 16, 16);
    font-size: 14px;
}

.kSqCqh {
    position: relative;
    min-height: 200px;
    margin-left: 38px;
    margin-right: 38px;
}



.ggJHdq {
    display: inline-block;
    padding-bottom: 24px;
    width: 100%;
}
.kydbmE {
    position: relative;
    width: 100%;
    background-color: rgb(255, 255, 255);
    user-select: none;
}

.kydbmE > a {
    border-radius: 12px;
}

.eRPHdN {
    width: 100%;
    height: 100%;
    color: rgb(52, 61, 66);
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
    display: flex;
}

.iMMhrs {
    position: relative;
    overflow: hidden;
    color: rgb(255, 255, 255);
    background-color: rgb(224, 227, 229);
    background-size: cover;
    background-position: 50% center;
    border-radius: 12px;
    flex-shrink: 0;
    width: 288px;
    height: 187px;
    will-change: transform;
}

.eyFERU {
    position: absolute;
    pointer-events: none;
    text-align: right;
    top: 8px;
    left: 0px;
    right: auto;
    width: 280px;
}

.bKsBdR:not(:last-child) {
    margin-bottom: 8px;
}

.bKsBdR {
    display: inline-block;
    padding: 0px 8px;
    font-size: 12px;
    font-weight: 500;
    line-height: 32px;
    color: rgb(16, 16, 16);
    background: rgba(248, 248, 248, 0.7);
    border-radius: 8px;
}

.cavmBy {
    display: inline-block;
    padding: 0px 6px;
    pointer-events: all;
    color: rgb(16, 16, 16);
    background: rgba(248, 248, 248, 0.7);
    border-radius: 8px;
}

.cmMTHu {
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    margin-top: -1px;
    width: 25px;
    height: 25px;
    line-height: 20px;
}

@media (min-width: 961px){
    .ggJHdq {
        padding-bottom: 32px;
    }

    .iHZmYi {
        line-height: 20px;
    }
    

    .cTGHMu:hover .Dropdown-arrow{
        border-color: rgb(255, 0, 134) transparent transparent !important;
    }
    
    .cTGHMu:hover .is-open .Dropdown-arrow {
        border-color: transparent transparent rgb(255, 0, 134) !important;
        border-width: 0 5px 5px;
    }

    .cTGHMu:hover {
        color: rgb(255, 0, 134);
        background-color: rgb(255, 255, 255);
        border-color: rgb(255, 0, 134);
    }
    .cTGHMu:hover .Dropdown-placeholder{
        color: rgb(255, 0, 134);
        background-color: rgb(255, 255, 255);
        border-color: rgb(255, 0, 134);
    }
    .cTGHMu:hover {
        color: rgb(255, 0, 134);
        background-color: rgb(255, 255, 255);
        border-color: rgb(255, 0, 134);
    }

    .iZogEd:hover {
        color: rgb(255, 0, 134);
        background-color: rgb(255, 255, 255);
        border-color: rgb(255, 0, 134);
    }
    .byfVMq {
        display: flex;
        -webkit-box-pack: end;
        justify-content: flex-end;
    }

    .gPahXz {
        width: calc(100% - 716px) !important;
    }
    .bkBfQn {
        padding-top: 210px;
        /* padding-top: 140px; */
        width: 716px !important;
    }
    .cpRqIu {
        gap: 16px;
        padding: 0px 38px 16px 38px;
        /* overflow-x: auto; */
    }

    .kigdhw {
        padding: 16px 38px 32px;
    }
    
    
    
    .bxsa-dB {
        flex: initial;
    }
    .kpnlB:hover {
        background-color: rgb(247, 247, 247);
    }
.bhskcS {
    width: 716px !important;
}

.dmEQCF {
    position: fixed;
    top: 72px;
    left: 0px;
    padding: 16px 38px;
    height: 84px;
    z-index: 9;
}

.dmEQCF {
    width: 716px !important;
}

.cvMAEu {
    display: inline-flex;
}
}