.btiWiV {
    position: relative;
}

.dmEQCF {
    position: relative;
    display: flex;
    padding: 12px 16px;
    background-color: rgb(255, 255, 255);
}

.cLARDm {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
}

.dEOkTn {
    background: rgb(255, 255, 255);
}

.lExsy {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.bimUfb {
    display: flex;
    padding: 7px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(224, 227, 229);
    border-radius: 27px;
    margin: 16px 38px;
}

.gPABWM {
    display: flex;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    flex: 1 1 0%;
    min-width: 0px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.kpnlB {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0px 8px;
    padding: 0px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border: 0px;
    background: none;
    border-radius: 18px;
}

a, button {
    cursor: pointer;
    outline: 0px;
}

button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
}

.kcAJIc {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0px;
    height: 36px;
    color: rgb(255, 255, 255);
    stroke: rgb(255, 255, 255);
    background: rgb(255, 0, 134);
    border: 0px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    padding: 0px 20px;
    width: auto;
    font-weight: 500;
    font-size: 13px;
    border-radius: 27px;
}


.kcAJIc > svg {
    margin-right: 4px;
}

svg:not(:root) {
    overflow: hidden;
}

.clDIaZ {
    display: inline-block;
    fill: currentcolor;
    pointer-events: none;
    width: 20px;
    height: 20px;
}

svg:not(:root) {
    overflow: hidden;
}

.fmZa-d {
    display: inline-block;
    fill: currentcolor;
    pointer-events: none;
    width: 32px;
    height: 32px;
}

.fcca-di {
    display: flex;
}

.cvMAEu {
    flex: 1 1 0%;
    display: none;
}

.jweLbp {
    display: inline-block;
    padding: 4px 0px 4px 8px;
    width: 100%;
    font-size: 14px;
    line-height: 24px;
    color: rgb(52, 61, 66);
    background: rgb(255, 255, 255);
    border: 0px;
    appearance: none;
    appearance: textfield;
    outline-offset: -2px;
}

.jweLbp:focus-visible{
    border: none;
    outline: none;
}

.kcAJIc > svg {
    margin-right: 4px;
}

svg:not(:root) {
    overflow: hidden;
}

.clDIaZ {
    display: inline-block;
    stroke: #fff !important;
    pointer-events: none;
    width: 20px;
    height: 20px;
}
.clDIaZ path{
    display: inline-block;
    stroke: #fff !important;
    pointer-events: none;
    width: 20px;
    height: 20px;
}

.filter-inline{
    position: relative;
    /* top: 140px; */
    left: 0;
    right: 0;
    z-index: 8;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    pointer-events: none;

}

.cpRqIu {
    position: relative;
    display: flex;
    gap: 12px;
    padding: 0px 16px 12px;
    pointer-events: all;
    /* overflow: auto auto; */
    overscroll-behavior-x: contain;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(233, 236, 241) !important;
}

.sc-125xj6w-0 .Dropdown-control {
    position: relative;
    overflow: hidden;
    background-color: white;
    border: none !important;
    outline: none !important;
    border-radius: 2px;
    box-sizing: border-box;
    color: #333;
    cursor: default;
    outline: none;
    padding: 0px 16px 0px 4px;
    transition: all 200ms ease;
}
.sc-125xj6w-0 .Dropdown-arrow {
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    content: ' ';
    display: block;
    height: 0;
    margin-top: -ceil(2.5);
    position: absolute;
    right: 0px;
    top: 14px;
    width: 0;
    top: 45%;
}

.bxsa-dB {
    display: flex;
    flex: 1 1 0%;
}

.efKKDz {
    height: 100%;
}

.gPahXz {
    position: fixed;
    top: calc(57px + env(safe-area-inset-top));
    bottom: 0px;
    right: 0px;
    width: 100%;
}

.map-iframe{
    height: calc(100% - 40px);
}

.fuUXys {
    position: absolute;
    left: 42px;
    right: 52px;
    text-align: center;
    bottom: 44px;
}

.RMyYB {
    pointer-events: all;
    appearance: none;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 134);
    border: 0px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 2px 0px;
    -webkit-tap-highlight-color: transparent;
    font-weight: 500;
    font-size: 14px;
    line-height: 36px;
    border-radius: 18px;
    user-select: none;
    padding: 0px 12px;
}

.boRNLg {
    pointer-events: all;
    appearance: none;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 134);
    border: 0px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 2px 0px;
    -webkit-tap-highlight-color: transparent;
    font-weight: 500;
    font-size: 14px;
    line-height: 36px;
    border-radius: 18px;
    user-select: none;
    padding: 0px 12px;
    margin-left: 8px;
}

.dTmuAW {
    position: absolute;
    padding: 9px 20px;
    line-height: 14px;
    font-size: 12px;
    text-align: center;
    background-color: rgb(250, 250, 250);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 2px 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 2;
}

.jFAjTY {
    font-size: 12px;
    line-height: 14px;
    pointer-events: all;
    user-select: none;
}

.iZogEd {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0px 18px;
    min-width: 52px;
    font-size: 13px;
    line-height: 34px;
    text-align: center;
    white-space: nowrap;
    color: rgb(16, 16, 16);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(224, 227, 229);
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    flex: 1 1 0%;
    font-weight: 500;
}

.grRvLZ {
    position: relative;
    display: flex;
}

.cTGHMu {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0px 18px;
    min-width: 52px;
    font-size: 13px;
    line-height: 34px;
    text-align: center;
    white-space: nowrap;
    /* color: rgb(16, 16, 16); */
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(224, 227, 229);
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-weight: 500;
}
.byfVMq {
    flex: 1 1 0%;
}

.im11km-1 svg {
    font-size: 16px;
    margin-right: 2px;
    margin-bottom: 3px;
}

.sc-125xj6w-0 svg{
    font-size: 18px;
    margin-right: 3px;
    
    margin-bottom: 3px;
}
.cTGHMu svg{
    font-size: 14px;
    margin-right: 3px;
    margin-bottom: 3px;
}

.sc-125xj6w-0 .Dropdown-arrow{
    border-color: #000 transparent transparent;
}

.is-open .Dropdown-arrow {
    border-color: transparent transparent #000 !important;
    border-width: 0 5px 5px;
}

.cTGHMu .Dropdown-menu{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(224, 227, 229);
    border-radius: 8px;
    box-shadow: rgba(138, 151, 157, 0.2) 0px 2px 7px 3px;
    margin: 0px;
    overflow: hidden;
    padding: 10px 24px;
    width: 180px;
    left: -64px;
    top: 45px;
    text-align: left;
    height: auto !important;
}
.cTGHMu .Dropdown-option {
    box-sizing: border-box;
    color: rgba(51, 51, 51, 0.8);
    cursor: pointer;
    display: block;
    padding: 0px;
}

.kigdhw {
    padding: 16px 16px 24px;
    user-select: none;
}

.fVUrto {
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 18px;
    white-space: nowrap;
    overflow-x: auto;
    user-select: none;
}

.iFYwzu {
    display: inline-block;
    margin-right: 4px;
}

.lcnZym:visited {
    color: rgb(52, 61, 66);
}

.fVUrto a {
    color: rgb(52, 61, 66);
}
.lcnZym {
    display: inline-block;
    margin-right: 4px;
    color: rgb(52, 61, 66);
}

.jaHnaj {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 15px;
    line-height: 27px;
    color: rgb(16, 16, 16);
}


.iHZmYi {
    display: flex;
    align-items: flex-start;
    position: relative;
    line-height: 26px;
}
.gCIxxJ {
    color: rgb(16, 16, 16);
    font-size: 14px;
}

.kSqCqh {
    position: relative;
    min-height: 200px;
    margin-left: 38px;
    margin-right: 38px;
}



.ggJHdq {
    display: inline-block;
    padding-bottom: 24px;
    width: 100%;
}
.kydbmE {
    position: relative;
    width: 100%;
    background-color: rgb(255, 255, 255);
    user-select: none;
}

.kydbmE > a {
    border-radius: 12px;
}

.eRPHdN {
    width: 100%;
    height: 100%;
    color: rgb(52, 61, 66);
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
    display: flex;
}

.iMMhrs {
    position: relative;
    overflow: hidden;
    color: rgb(255, 255, 255);
    background-color: rgb(224, 227, 229);
    background-size: cover;
    background-position: 50% center;
    border-radius: 12px;
    flex-shrink: 0;
    width: 288px;
    height: 187px;
    will-change: transform;
}

.eyFERU {
    position: absolute;
    pointer-events: none;
    text-align: right;
    top: 8px;
    left: 0px;
    right: auto;
    width: 280px;
}

.bKsBdR:not(:last-child) {
    margin-bottom: 8px;
}

.bKsBdR {
    display: inline-block;
    padding: 0px 8px;
    font-size: 12px;
    font-weight: 500;
    line-height: 32px;
    color: rgb(16, 16, 16);
    background: rgba(248, 248, 248, 0.7);
    border-radius: 8px;
}

.cavmBy {
    display: inline-block;
    padding: 0px 6px;
    pointer-events: all;
    color: rgb(16, 16, 16);
    background: rgba(248, 248, 248, 0.7);
    border-radius: 8px;
}

.cmMTHu {
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    margin-top: -1px;
    width: 25px;
    height: 25px;
    line-height: 20px;
}

.icon-wrapper svg{
margin-top: 0.2px;
}

.dyWqS {
    padding: 22px 16px 22px 20px;
    height: auto;
    min-width: 0px;
    position: inherit;
    border-radius: 0px 0px 12px 12px;
}

.emUQRl {
    position: absolute;
    left: 16px;
    top: auto;
    bottom: 8px;
}

.lfdbms {
    position: relative;
    padding: 4px 8px;
    pointer-events: none;
    z-index: 1;
}

.lfdbms::before {
    display: block;
    content: "";
    position: absolute;
    inset: 0px;
    background: rgb(255, 0, 134);
    border-radius: 2px;
    transform: skew(348deg);
    z-index: -1;
}

.mQJFy {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    font-size: 12px;
    margin: 0;
    line-height: 14px;
    font-weight: 700;
}

.swIbZ {
    margin-bottom: 6px;
    margin-right: 40px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: rgb(16, 16, 16);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.gWTwZn {
    line-height: 20px;
    font-size: 14px;
    color: rgb(52, 61, 66);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bjJoNh {
    margin: 0px 40px 6px 0px;
    font-size: 14px;
    line-height: 25px;
    color: rgb(52, 61, 66);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dHYeSr {
    display: block;
}

.doqKNP:not(:last-child) {
    margin-bottom: 6px;
}

.doqKNP {
    display: flex;
    margin: 0px;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    padding: 0px;
}



.ddpQTN {
    display: inline-flex;
    align-items: center;
    list-style-type: none;
}

.rkh7f0-1 .rkh7f0-2.iMDBSi svg{
    font-size: 20px;
    margin-bottom: 3px;
    margin-right: 3px !important;
    
}

.ddpQTN {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    list-style-type: none;
    margin-right: 10px;
}

.hcVMxo {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.hcVMxo .bWMeDG{
    line-height: 20px;
    font-size: 14px;
    color: rgb(52, 61, 66);
}

.bWMeDG {
    display: inline-block;
}

.kydbmE > a {
    border-radius: 12px;
}

.kXLBZg {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    /* position: absolute; */
    position: absolute;
    right: 6px;
    /* right: -22px; */
    /* top: 10px; */
    bottom: 129px;
}

.kSoMrH {
    display: inline-block;
}

.bToTeF {
    position: relative;
    margin: 0px;
    padding: 8px;
    line-height: 24px;
    color: rgb(52, 61, 66);
    overflow: hidden;
    outline: 0px;
    border: 0px;
    border-radius: 24px;
    background: transparent;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

.coJfiJ {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    pointer-events: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.fmZa-d {
    display: inline-block;
    fill: currentcolor;
    pointer-events: none;
    width: 32px;
    height: 32px;
}

.sc-1h490wc-1:hover path{
    fill: rgb(255 0 124);
}

.coJfiJ .icon {
    vertical-align: top;
}

.eRPHdN {
    width: 100%;
    height: 100%;
    color: rgb(52, 61, 66);
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
    display: flex;
}

.bWMeDG:not(:first-child)::before {
    padding: 0px 4px;
    content: " • ";
}
@media (min-width: 961px){
    .ggJHdq {
        padding-bottom: 32px;
    }

    .iHZmYi {
        line-height: 20px;
    }
    

    .cTGHMu:hover .Dropdown-arrow{
        border-color: rgb(255, 0, 134) transparent transparent !important;
    }
    
    .cTGHMu:hover .is-open .Dropdown-arrow {
        border-color: transparent transparent rgb(255, 0, 134) !important;
        border-width: 0 5px 5px;
    }

    .is-open .Dropdown-menu{
        overflow: auto;
    }

    .cTGHMu:hover {
        color: rgb(255, 0, 134);
        background-color: rgb(255, 255, 255);
        border-color: rgb(255, 0, 134);
    }
    .cTGHMu:hover .Dropdown-placeholder{
        color: rgb(255, 0, 134);
        background-color: rgb(255, 255, 255);
        border-color: rgb(255, 0, 134);
    }
    .cTGHMu:hover {
        color: rgb(255, 0, 134);
        background-color: rgb(255, 255, 255);
        border-color: rgb(255, 0, 134);
    }

    .iZogEd:hover {
        color: rgb(255, 0, 134);
        background-color: rgb(255, 255, 255);
        border-color: rgb(255, 0, 134);
    }
    .byfVMq {
        display: flex;
        -webkit-box-pack: end;
        justify-content: flex-end;
    }

    .gPahXz {
        width: calc(100% - 716px) !important;
    }
    .bkBfQn {
        padding-top: 210px;
        /* padding-top: 140px; */
        width: 716px !important;
    }
    .cpRqIu {
        gap: 16px;
        padding: 0px 38px 16px 38px;
        border-bottom: 0px !important;
        /* overflow-x: auto; */
    }

    .kigdhw {
        padding: 16px 38px 32px;
    }
    
    
    
    .bxsa-dB {
        flex: initial;
    }
    .kpnlB:hover {
        background-color: rgb(247, 247, 247);
    }
.bhskcS {
    width: 716px !important;
}

.dmEQCF {
    position: fixed;
    top: 57px;
    left: 0px;
    padding: 16px 38px;
    height: 84px;
    z-index: 9;
}

.dmEQCF {
    width: 716px !important;
}

.cvMAEu {
    display: inline-flex;
}
}


.epnMmH {
    padding: 16px 48px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px -5px 5px 0px;
}

.ipxbJD {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.ikpcuX {
    flex: 1 1 0%;
}

.bkTCAh {
    margin: 0px;
    padding: 0px;
    width: auto;
    overflow: visible;
    white-space: nowrap;
    background: transparent;
    border: none;
    user-select: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: rgb(255, 0, 134);
}

a, button {
    cursor: pointer;
    outline: 0px;
}

.iuAQpx {
    flex: 2 1 0%;
}

.hyeZAL {
    margin: 0px;
    overflow: visible;
    white-space: nowrap;
    background: rgb(255, 0, 134);
    border: none;
    user-select: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    padding: 10px 24px;
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    border-radius: 26px;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 100%;
}

.range-number{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.range-number div{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 420px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
         -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
}

.hbxTUi {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    -webkit-box-flex: 1;
    overflow-y: auto;
}

.gOGxgr {
    padding: 16px 26px 16px;
}

.kKonjn {
    padding: 0px 10px 10px;
}


.cZxCSd {
    margin: 0px 0px 28px;
}

.kvGcLL {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    user-select: none;
    color: rgb(16, 16, 16);
    margin: 0px 0px 16px;
}

.jcRztj {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
    text-align: left;
    line-height: 32px;
    background: none;
    border: 0px;
    cursor: default;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.iBnkJT {
    flex: 1 1 0%;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.gZszZo {
    display: flex;
    flex: 1 1 0%;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0px;
    padding: 11px 24px;
    font-size: 13px;
    line-height: 20px;
    border: 1px solid rgb(0, 23, 59);
    border-radius: 22px;
    user-select: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: subpixel-antialiased;
    cursor: pointer;
    font-weight: 500;
    color: rgb(0, 23, 59);
    background: rgb(247, 247, 247);
}

.fXoFer {
    display: flex;
    width: 100%;
    box-shadow: rgb(233, 236, 241) 0px 0px 0px 1px inset;
    border-radius: 22px;
}

.jUPYmK {
    display: flex;
    flex: 1 1 0%;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0px;
    padding: 11px 24px;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: rgb(52, 61, 66);
    border: 1px solid transparent;
    border-radius: 22px;
    background: none;
    user-select: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: subpixel-antialiased;
    cursor: pointer;
}

.kPUAQh {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    user-select: none;
    color: rgb(52, 61, 66);
}

.gsheHX {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
    text-align: left;
    line-height: 32px;
    background: none;
    border: 0px;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.iBnkJT {
    flex: 1 1 0%;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.kpgnTE {
    /* transform: rotate(90deg) scale(1.25); */
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.cZohV {
    overflow: hidden;
    /* display: inline-block; */
    vertical-align: middle;
    margin-top: -4px;
    width: 32px;
    height: 32px;
    line-height: 32px;
}

.jDEIHe:last-of-type {
    margin: 0px;
}


.jDEIHe {
    margin: 0px 0px 8px;
    padding: 0px;
}

.hRTczC:not(:last-child) {
    margin: 0px 0px 8px;
}

.inAQUt {
    position: relative;
    font-size: 14px;
    vertical-align: middle;
    text-decoration: none;
    stroke: rgb(52, 61, 66);
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding: 0px;
    line-height: 32px;
    color: rgb(52, 61, 66);
    border: 0px;
    background: none;
}

.inAQUt {
    position: relative;
    font-size: 14px;
    vertical-align: middle;
    text-decoration: none;
    stroke: rgb(52, 61, 66);
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding: 0px;
    line-height: 32px;
    color: rgb(52, 61, 66);
    border: 0px;
    background: none;
}

.inAQUt .sc-1uzywjh-0 {
    right: 0px;
    color: rgb(52, 61, 66);
}


.inAQUt .sc-1uzywjh-0 {
    color: rgb(255, 0, 134);
}

.emTcCo {
    font-size: 13px;
    color: rgb(144, 161, 169);
    position: absolute;
    top: 0px;
    right: 16px;
}

.kPUAQh:hover {
    color: rgb(255, 0, 134);
    cursor: pointer;
}

.inAQUt .icon {
    margin-right: 18px;
    color: rgb(0, 23, 59) !important;
    stroke: rgb(0, 23, 59) !important;
    margin-right: 6px;
}

.inAQUt .icon svg {
    stroke: red;
    fill: red;
}

svg:not(:root) {
    overflow: hidden;
}

.clDIaZ {
    display: inline-block;
    fill: #000;
    pointer-events: none;
    width: 16px;
    height: 16px;
    margin-bottom: 4px;
}

.chack-icons{
    width: 17px;
    height: 17px;
    margin-right: 6px;
    margin-bottom: 5px;
}
.ikzRsx {
    padding: 12px 12px 16px;
    margin: 0px 0px 28px;
    background-color: rgb(247, 247, 247);
    border-radius: 4px;
}

.jDEIHe li {
    list-style: none;
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog{
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
         -o-transition: opacity 0.3s linear, left 0.3s ease-out;
            transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog{
    left: 0;
}
    
/*Right*/
.modal.right.fade .modal-dialog {
    /* right: -320px; */
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
         -o-transition: opacity 0.3s linear, right 0.3s ease-out;
            transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #FAFAFA;
}

/* ----- v CAN BE DELETED v ----- */


.demo {
padding-top: 60px;
padding-bottom: 110px;
}

.btn-demo {
margin: 15px;
padding: 10px 15px;
border-radius: 0;
font-size: 16px;
background-color: #FFFFFF;
}

.btn-demo:focus {
outline: 0;
}

.demo-footer {
position: fixed;
bottom: 0;
width: 100%;
padding: 15px;
background-color: #212121;
text-align: center;
}

.demo-footer > a {
text-decoration: none;
font-weight: bold;
font-size: 16px;
color: #fff;
}

.fycLmA {
    position: fixed;
    top: 0px;
    width: 100%;
    max-width: 490px;
    height: 100%;
    z-index: 1200;
    overflow: auto;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0s;
    left: 0px;
    transform: translate3d(0px, 0px, 0px);
}

.jOespU {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.etQrqG {
    padding: 20px 30px;
    border-bottom: 1px solid rgb(233, 236, 241);
}

.hktXrC {
    position: relative;
}

.cbRSA {
    flex: 1 1 0%;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: rgb(16, 16, 16);
    user-select: none;
}

.lcxzRD {
    display: flex;
    position: absolute;
    top: -10px;
    right: 0px;
    width: 44px;
    height: 44px;
    background: none;
    border-radius: 22px;
    border: 0px;
    user-select: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: subpixel-antialiased;
    cursor: pointer;
}

.lcxzRD svg {
    position: absolute;
    top: 14px;
    left: 14px;
}

.fKOyQl {
    display: inline-block;
    fill: currentcolor;
    pointer-events: none;
    width: 24px;
    height: 24px;
}

.IGHUE {
    position: absolute;
    bottom: 92px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    max-width: 530px;
    max-height: 420px;
    pointer-events: all;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 6px 16px 0px;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    padding: 16px 16px 4px;
    overflow: auto;
}

.IGHUE article {
    margin-bottom: 12px;
}

.kpjXrq {
    position: relative;
    width: 100%;
    background-color: rgb(255, 255, 255);
    user-select: none;
    border-radius: 12px;
    border: 1px solid rgb(224, 227, 229);
}

.kpjXrq > a {
    border-radius: 12px;
}


.eRPHdN {
    width: 100%;
    height: 100%;
    color: rgb(52, 61, 66);
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
    display: flex;
}

.gOrroY {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    right: 6px;
    bottom: 86px;
}

.bToTeF {
    position: relative;
    margin: 0px;
    padding: 8px;
    line-height: 24px;
    color: rgb(52, 61, 66);
    overflow: hidden;
    outline: 0px;
    border: 0px;
    border-radius: 24px;
    background: transparent;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

.exDrMm {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    pointer-events: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.exDrMm .icon {
    vertical-align: top;
}

.exDrMm svg {
    vertical-align: top;
    stroke: currentcolor;
}
svg:not(:root) {
    overflow: hidden;
}
.fKOyQl {
    display: inline-block;
    fill: currentcolor;
    pointer-events: none;
    width: 24px;
    height: 24px;
}

.bXIqeS {
    position: relative;
    overflow: hidden;
    color: rgb(255, 255, 255);
    background-color: rgb(224, 227, 229);
    background-size: cover;
    background-position: 50% center;
    border-radius: 12px 0px 0px 12px;
    flex-shrink: 0;
    width: 180px;
    height: 131px;
    will-change: transform;
}

.fade.in {
    opacity: 1;
}

.bIhZyK {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 72.77%;
    border-radius: 0px;
}
.fade {
    /* opacity: 0; */
    transition: opacity 0.15s linear 0s;
}

.bIhZyK img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: inherit;
    width: auto;
    height: 100%;
    -webkit-user-drag: none;
    position: absolute !important;
}


img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

.dOPMYK {
    padding: 20px 16px 20px 20px;
    height: auto;
    min-width: 0px;
    position: inherit;
    border-radius: 0px 0px 12px 12px;
}

.swIbZ {
    margin-bottom: 6px;
    margin-right: 40px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: rgb(16, 16, 16);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.gWTwZn {
    line-height: 20px;
    font-size: 14px;
    color: rgb(52, 61, 66);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bjJoNh {
    margin: 0px 40px 6px 0px;
    font-size: 14px;
    line-height: 25px;
    color: rgb(52, 61, 66);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.iZuNeb {
    display: inline;
}

.doqKNP {
    display: flex;
    margin: 0px;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
}

.ddpQTN {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    list-style-type: none;
}

.iMDBSi {
    display: inline-block;
    margin-right: 4px;
    width: 24px;
    height: 24px;
    color: rgb(16, 16, 16);
}

.fKOyQl {
    display: inline-block;
    fill: currentcolor;
    pointer-events: none;
    width: 24px;
    height: 24px;
}

@media (min-width: 991.98px) {
    .cpRqIu {

        border-bottom: 1px solid rgb(233, 236, 241) !important;
    }
}
@media (max-width: 991.98px) {
    .gPahXz {
        position: absolute;
        top: calc(174px + env(safe-area-inset-top));
        bottom: 0px;
        right: 0px;
        width: 100%;
        height: 300px;
    }

    .cTGHMu{
        width: 100%;
    }

    .bimUfb {
        margin: 16px 15px;
    }
}
@media (max-width: 768px) {

    
    .bimUfb {
        margin: 10px 25px 10px 15px;
    }
    .cpRqIu {
        margin: 10px 25px 10px 15px !important;
        padding: 0px !important;
        border-bottom: 0px !important;
    }

    .fVUrto{
        margin: 0px !important;
    }

    .kigdhw {
        padding: 10px 20px 15px !important;
    }

    .kSqCqh {
        margin-left: 20px !important;
        margin-right: 20px !important;
    }

    .iMMhrs {
        width: 100% !important;
    }

    .sc-1fvt3tm-0.listing{
        display: flex;
        flex-direction: column;
    }

    .react-multi-carousel-list{
        display: block;
    }

    .eyFERU {
        position: absolute;
        pointer-events: none;
        text-align: right;
        top: 10px;
        right: 10px;
        width: 97%;
    }

    .emUQRl {
        position: absolute;
        left: 16px;
        top: 10px;
    }

    .ggJHdq {
        display: inline-block;
        padding-bottom: 0px;
        width: 100%;
    }

    .gPahXz {
        position: absolute;
        top: calc(174px + env(safe-area-inset-top));
        bottom: 0px;
        right: 0px;
        width: 100%;
        height: 300px;
    }

    .dTmuAW{
        display: none;
    }

    .fuUXys {
        bottom: 10px;
    }

    .map-width-mobile{
        width: 100% !important;
        height: 300px !important;
    }

    .gm-style .gm-style-iw-c{
       max-width: 400px !important;
       min-width: 360px !important;
    }

    .kpjXrq{
        margin-bottom: 5px !important;
    }

    .bXIqeS{
        width: 110px !important;
        height: 90px !important;
    }

    .gOrroY {
        right: 0px !important;
        bottom:50px !important;
    }

    .dOPMYK {
        padding: 10px 16px 10px 20px !important;
    }

    .r0xktz-1.bkBfQn{
        margin-top: 400px !important;
    }
    
    
}

@media (max-width: 410px) {
    .gm-style .gm-style-iw-c{
        max-width: 400px !important;
     }
}
@media (max-width: 400px) {
    .gm-style .gm-style-iw-c{
        max-width: 390px !important;
        margin: 0px 3px;
     }

     .iZogEd{
        padding: 0px 10px !important;
     }

     .bimUfb {
        margin: 10px 15px 10px 15px !important;
    }

     .cTGHMu {
        padding: 0px 10px !important;
     }
}
@media (max-width: 390px) {
    .gm-style .gm-style-iw-c{
        max-width: 380px !important;
        margin: 0px 3px;
     }
}
@media (max-width: 380px) {
    .gm-style .gm-style-iw-c{
    max-width: 370px !important;
    margin: 0px 3px;
 }}
@media (max-width: 370px) {
    .gm-style .gm-style-iw-c{
        max-width: 360px !important;
        margin: 0px 3px;
     }
}
@media (max-width: 360px) {
    .gm-style .gm-style-iw-c{
        max-width: 350px !important;
        margin: 0px 3px;
     }
}

